@media (min-width: 769px) {
    .p {
      font: italic;
      color:white;
      background-color: rgb(255, 254, 252);
      background-image: url(../image/background\ pendaftaran\ online\ .png);
      background-size: cover;
      background-position: top center;
      background-attachment: fixed;
    }}

@media (max-width: 768px) {
    .p {
      background-image: url('../image/mobile.png');
      background-size: cover;
      color: white;
      background-position: top center;
    background-attachment: fixed;
    }
  } 