input:hover {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0); 
}
select:hover {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0); 
}
textarea:hover {
  background-color: black;
  color:white; 
}

/* @media (max-width: 768px) {
  .main {
    background-image: url('../image/mobile.png');
    background-position: center;
    background-position: center;
  } */

@media (min-width: 768px) {
.main {
  font: italic;
  color:white;
  background-color: rgb(23, 17, 3);
}

section {
  place-items: 'center';
  position: relative;
  background-color: rgba(0, 0, 0, 0.888);
  color: white;

}
.p{
  color: white;
}
.t{
  -webkit-text-stroke:1px white;
}
section::before {
  background-image: url(../image/background\ pendaftaran\ online\ .png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  inset: 0;
  opacity: 0.9;
  justify-content: center;
  text-align: center;
}
}
/* .container {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 600px;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(30, 27, 27, 0.1);
  isolation: isolate;
} */
@media (max-width: 768px) {
  .main {
    background-image: url('../image/mobile.png');
    background-size: cover;
    color: white;
    background-position: top center;
  background-attachment: fixed;
  }
}
.p{
  color: white;
}
.t{
  -webkit-text-stroke:1px white;
}