.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-color: #100000f5;
  font: italic;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 470px;
  margin: 3%;
  padding: 40px;
  border-radius: 20px;
  background-color: rgb(30, 27, 27,0.1);
}

.tul {
  font-size: x-large;
  margin-bottom: 5%;
  border-bottom: 3px solid black;
}
.i{
  background-color: rgba(250, 249, 249, 0.5)
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
    background-size: auto;
  }
  
  .tul {
    font-size: large;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 2%;
    width: 75%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 20px;
    background-color: rgba(250, 249, 249, 0);
    background-size: auto;
    color: rgb(255, 255, 255);

  }
  
  .tul {
    font-size: large;
    margin-bottom: 3%;
  }
}
